@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.bg-img {
    background: linear-gradient(0deg, #000000ee 30%, #ffffff27 100%), url('../images/main-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    font-family: 'Open Sans Condensed', sans-serif;
}
.subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 20px;
}
.container, .title {
    font-size: large;
}
.container, .subtitle {
    font-size: medium;
}
.main-title {
    font-size: x-large;
}
/* This is were the navbar title is */
.nav-title {
font-size: large;
/* font-weight: bold;s */
color: black; 
}
.footer {
    padding: 10px 10px;
}
